html {
    height: 100%;
    width: 100%;
    background-color: black;
    scroll-behavior: smooth;
}

body {
    margin: 0;
    height: 100vh;
    width: 100%;
}

* {
    color: white;
    text-decoration: none;
    font-family: 'KomikaTXT', Helvetica, sans-serif;
    pointer-events: none;
}

@font-face {
    font-family: 'Another';
    src: url("../font/Another_.ttf"), format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'KomikaTXT';
    src: url("../font/KOMTXT__.ttf"), format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* HEADER */

header {
    display: flex;
    justify-content: space-around;
    align-items: center;

    flex-wrap: wrap-reverse;

    padding: 5vw;
    
    h1{
        margin: 0;
        color: whitesmoke;
        text-shadow:
        2px 0 #000,
        -2px 0 #000,
        0 2px #000,
        0 -2px #000,
        1px 1px black,
        -1px 1px black,
        1px -1px black,
        -1px -1px black,
        1.5px 1.5px 1px black,
        -1.5px 1.5px 1px black,
        1.5px -1.5px 1px black,
        -1.5px -1.5px 1px black;
    }

    background: url(../img/bg-ado.jpg); /**/
    background-repeat: no-repeat;
    background-size: cover;
}

nav {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    gap:2vh;

    a{
        color: whitesmoke;
        display: flex;
        align-items: center;

        padding:15px;
        gap:1vw;

        border: 0px solid;
        border-radius: 15px;

        font-size: 1.2rem;

        pointer-events:all;
        background-color:rgba(25, 24, 38);
    }
}

#degrade-insano {
    height:2vh;
    background: #FF002A;
    background: linear-gradient(180deg, rgba(255, 0, 42, 1) 0%, rgba(25, 24, 38, 1) 100%);
}

#degrade-insano2 {
    height:2vh;
    background: rgba(25, 24, 38, 1);
    background: linear-gradient(180deg, rgba(25, 24, 38, 1) 0%, rgba(36, 30, 42, 1) 100%);
}

#degrade-insano3 {
    height:2vh;
    background: rgba(36, 30, 42, 1);
    background: linear-gradient(180deg, rgba(36, 30, 42, 1) 0%, rgba(206, 27, 22, 1) 100%);
}

#degrade-insano4 {
    height:2vh;
    background: rgba(36, 30, 42, 1);
    background: linear-gradient(180deg, rgba(36, 30, 42, 1) 0%, rgba(206, 27, 22, 1) 100%);
}

#degrade-insano5 {
    height:2vh;
    background: red;
    background: linear-gradient(180deg, red 0%, black 100%);
}

.textbox-titulo {
    display: flex;
    flex-direction: column;
    
    position: relative;
    
    width: 50%;
    height: 25vh;
    
    position: relative;
    top: 5vh;
    left: 5vw;
    margin-bottom: 25vh;
}

@media (max-width: 600px) {
    .textbox-titulo {
        width: 100%;
        height: auto;
    }
}

/*  SOBRE MIM  */


#sobremim {
    background: url(../img/bg-quarto-milk-chan.jpg); /**/
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

#sobremim-inferior {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 15vw;

    flex-wrap: wrap;

    padding: 15vh;
    padding-inline: 15vw;
    
    text-shadow:
        2px 0 #FF002A,
        -2px 0 #000,
        0 2px #000,
        0 -2px #000,
        1px 1px black,
        -1px 1px black,
        1px -1px black,
        -1px -1px black,
        1.5px 1.5px 1px black,
        -1.5px 1.5px 1px black,
        1.5px -1.5px 1px black,
        -1.5px -1.5px 1px black;
    
    p {
        width: 15vw;
        background-color: black, 70%;
        padding-left: 2vw;
        padding-right: 5vw;
        padding-block: 2vh;
        box-shadow: 0 0px 35px #FF002A;
        border: 2px solid #FF002A;
    }
}

.figura {
    img {
        box-shadow: 0 0px 35px 15px #FF002A;
        border: 2px solid #FF002A;
    }
    text-align: center;
}

/*  PROJETOS  */

#projetos {
    background: url(../img/bg-another.jpg); /**/
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

#projetos-inferior {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;

    text-align: center;
    
    margin-top: 5vh;
    padding: 15vh;
    padding-inline: 15vw;
}

.projeto {
    h3 {
        font-family: 'Another', Arial, Helvetica, sans-serif;
        font-size: 2rem;
    }

    a{
    pointer-events: all;
    }
    background-color: black, 70%;
    padding: 3vw;
    margin: 5vw;
    box-shadow: 0 0px 35px #FF002A;
    border: 2px solid #FF002A;
    flex-wrap: wrap;
    img {
        box-shadow: 0 0px 10px #FF002A;
        border: 2px solid #FF002A;
    }
    width: 15vw;
}

.projeto:hover {
    background: rgba(255, 0, 0, 0.307);
}

#projeto3 {
    img{
        background: url(../img/ENA-bailarina.gif), linear-gradient(rgba(255, 0, 0, 0.99), rgba(255, 0, 0, 0.99));
        background-blend-mode: multiply;
        background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    }
}

/*  HABILIDADES  */

#habilidades {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    column-gap: 2vw;
}

#habilidades-esq {
    background: url(../img/bg-ENA.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

#habilidades-inferior {
    display: flex;
    
    margin-top: 10vh;
    padding: 15vh;
    padding-inline: 15vw;
}

#habilidades-table {
        background-color: black, 70%;
        padding: 5vh;
        box-shadow: 0 0px 35px #FF002A;
        border: 2px solid #FF002A;
    
    tr {
        box-shadow: 0 0px 35px #FF002A;
        border: 0px solid #FF002A;
    }
}

/*
#habilidades-figura {
    background:
    linear-gradient(rgba(2
    55,0,0,0.7), rgba(255,0,0,0.7)),
    url();
    background-blend-mode: overlay;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;

    padding: 40vh;
    padding-inline: 15vw;
}
*/

/*  CONTATO  */

#contato {
    background:
    linear-gradient(rgba(255, 0, 0, 0.9), rgba(255, 0, 0, 0.9)),
    url(../img/yotsugi-ononoki-girando.gif);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    
    background-blend-mode: multiply;
}

#contato-inferior {
    display: flex;
    
    margin-top: 10vh;
    padding: 15vh;
    padding-inline: 15vw;
}

#contato-form {
    box-shadow: 0 0px 35px #FF002A;
    padding: 3vw;
    border: 0px solid #FF002A;
}

input:focus, select:focus, textarea:focus, button:focus {
    outline: none;
}

label {
    pointer-events: all;
}

input, textarea {
    color: #ff002a;
    background-color: rgba(25,24,38,1);
    pointer-events: all;
}

#nome, #email, #assunto, #mensagem {
    padding-block: 2vh;
}

/*  FOOTER  */

#botao_topo {
    width: 5vw;
    height: 5vw;

    background-color: rgba(25, 24, 38, 1);

    box-shadow: 0 0px 35px #FF002A;
    border: 0px solid #FF002A;
    border-radius: 15px;

    padding: 3px;

    position: fixed;
    right: 30px;
    bottom: 50px;
    pointer-events: all;
}

footer {
    text-align: center;
    justify-content: center;
    a{
    pointer-events: all;
    }
}
