html {
    height: 100%;
    background-color: black;
}

body {
    margin: 0;
    height: 100%;
}

* {
    color: white;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    pointer-events: none;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 5vw;

    h1{
        margin: 0;
        text-shadow:
        2px 0 #000,
        -2px 0 #000,
        0 2px #000,
        0 -2px #000,
        1px 1px black,
        -1px 1px black,
        1px -1px black,
        -1px -1px black,
        1.5px 1.5px 1px black,
        -1.5px 1.5px 1px black,
        1.5px -1.5px 1px black,
        -1.5px -1.5px 1px black;
    }

    background: url(../img/bg-ado.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

nav {
    display: flex;
    flex-direction: column;
}

#degrade-insano {
    height:2vh;
    background: #FF002A;
    background: linear-gradient(180deg, rgba(255, 0, 42, 1) 0%, rgba(25, 24, 38, 1) 100%);
}

/*  SOBRE MIM  */

#sobremim {
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    grid-template-areas: 
    "titulo titulo"
    "figura texto";
    column-gap: 15vw;
    row-gap: 10vh;
    padding: 15vh;
    padding-inline: 15vw;

    background: url(../img/bg-quarto-milk-chan.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

#sobremim_titulo {
    display: flex;
    flex-direction: column;
    
    position: relative;

    width: 60%;
    height: 25vh;
    grid-area: titulo;
    order: 1;
}

#sobremim_h1 {
    position:absolute;
    top: 45%;
    left:40%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    transform: translate(-50%, -50%);
    transform: rotate(4deg);
}

.figura {
    grid-area: figura;
    order: 3;
}

#sobremim_texto {
    grid-area: texto;
    order: 2;
}

/*  PROJETOS  */