html {
    height: 100%;
    width: 100%;
    background-color: black;
}

body {
    margin: 0;
    height: 100%;
    width: 100%;
}

* {
    color: white;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    pointer-events: none;
}

/* HEADER */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 5vw;
    
    h1{
        margin: 0;
        color: whitesmoke;
        text-shadow:
        2px 0 #000,
        -2px 0 #000,
        0 2px #000,
        0 -2px #000,
        1px 1px black,
        -1px 1px black,
        1px -1px black,
        -1px -1px black,
        1.5px 1.5px 1px black,
        -1.5px 1.5px 1px black,
        1.5px -1.5px 1px black,
        -1.5px -1.5px 1px black;
    }

    background: url(../img/bg-ado.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

nav {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    gap:2vh;

    a{
        color: whitesmoke;
        display: flex;
        align-items: center;

        padding:15px;
        gap:1vw;

        border: 0px solid;
        border-radius: 15px;

        font-size: 1.2rem;

        pointer-events:all;
        background-color:rgba(25, 24, 38);
    }
}

#degrade-insano {
    height:2vh;
    background: #FF002A;
    background: linear-gradient(180deg, rgba(255, 0, 42, 1) 0%, rgba(25, 24, 38, 1) 100%);
}

.textbox-titulo {
    display: flex;
    flex-direction: column;
    
    position: relative;

    width: 60%;
    height: 25vh;
}

.textbox-h2 {
    position:absolute;
    top: 45%;
    left:40%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    transform: translate(-50%, -50%);
    transform: rotate(4deg);
}

@media (max-width: 768px) {
   #textbox-h2 {
    font-size: 30px; 
  }
}

@media (max-width: 480px) {
  #textbox-h2 {
    font-size: 15px; 
  }
}

/*  SOBRE MIM  */

#sobremim {
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    grid-template-areas: 
    "titulo titulo"
    "figura texto";
    column-gap: 15vw;
    row-gap: 10vh;
    padding: 15vh;
    padding-inline: 15vw;

    background: url(../img/bg-quarto-milk-chan.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

#sobremim_titulo {
    grid-area: titulo;
    order: 1;
}

.figura {
    grid-area: figura;
    order: 3;
}

#sobremim_texto {
    grid-area: texto;
    order: 2;
}

/*  PROJETOS  */

#projetos {
    display: grid;
    justify-content: center;
    align-items: center;
    
    grid-template-columns: auto auto auto;
    grid-template-rows: auto 1fr;
    grid-template-areas: 
    "titulo titulo titulo"
    "projeto1 projeto2 projeto3";

    row-gap: 10vh;
    padding: 15vh;
    padding-inline: 15vw;

    background: url(../img/bg-another.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

#projetos_titulo {
    grid-area: titulo;
}

#projeto1 {
    grid-area: projeto1;
}

#projeto2 {
    grid-area: projeto2;
}

#projeto3 {
    grid-area: projeto3;
}


/*  HABILIDADES  */

/*  CONTATO  */