html {
    height: 100%;
    background-color: black;
}

body {
    margin: 0;
    height: 100%;
}

* {
    color: white;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: red;
}

nav {
    display: flex;
    flex-direction: column;
}

/*  SOBRE MIM  */

#sobremim {
    display: grid;
    align-content: center;
    align-items: center;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    grid-template-areas: 
    "titulo titulo"
    "figura texto";
    margin-top: 10vh;
    padding: 15vh;

    background: url(/img/bg-quarto-milk-chan.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

#sobremim_titulo {
    grid-area: titulo;
    order: 1;
}

.figura {
    grid-area: figura;
    order: 3;
}

#sobremim_texto {
    grid-area: texto;
    order: 2;
}