html {
    height: 100%;
    width: 100%;
    background-color: black;
}

body {
    margin: 0;
    height: 100%;
    width: 100%;
}

* {
    color: white;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    pointer-events: none;
}

/* HEADER */

header {
    display: flex;
    justify-content: space-around;
    align-items: center;

    flex-wrap: wrap-reverse;

    padding: 5vw;
    
    h1{
        margin: 0;
        color: whitesmoke;
        text-shadow:
        2px 0 #000,
        -2px 0 #000,
        0 2px #000,
        0 -2px #000,
        1px 1px black,
        -1px 1px black,
        1px -1px black,
        -1px -1px black,
        1.5px 1.5px 1px black,
        -1.5px 1.5px 1px black,
        1.5px -1.5px 1px black,
        -1.5px -1.5px 1px black;
    }

    background: url(../img/bg-ado.jpg); /**/
    background-repeat: no-repeat;
    background-size: cover;
}

nav {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    gap:2vh;

    a{
        color: whitesmoke;
        display: flex;
        align-items: center;

        padding:15px;
        gap:1vw;

        border: 0px solid;
        border-radius: 15px;

        font-size: 1.2rem;

        pointer-events:all;
        background-color:rgba(25, 24, 38);
    }
}

#degrade-insano {
    height:2vh;
    background: #FF002A;
    background: linear-gradient(180deg, rgba(255, 0, 42, 1) 0%, rgba(25, 24, 38, 1) 100%);
}

#degrade-insano2 {
    height:2vh;
    background: #FF002A;
    background: linear-gradient(180deg, rgba(25, 24, 38, 1) 0%, red 100%);
}

.textbox-titulo {
    display: flex;
    flex-direction: column;
    
    position: relative;

    width: 60%;
    height: 25vh;
}

.textbox-h2 {
    position:absolute;
    top: 45%;
    left:40%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    transform: translate(-50%, -50%);
    transform: rotate(4deg);
}

@media (max-width: 768px) {
   #textbox-h2 {
    font-size: 20px; 
  }
}

@media (max-width: 480px) {
  #textbox-h2 {
    font-size: 15px; 
  }
}

/*  SOBRE MIM  */


#sobremim {
    background: url(../img/bg-quarto-milk-chan.jpg); /**/
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

#sobremim-inferior {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 15vw;

    flex-wrap: wrap;

    padding: 15vh;
    padding-inline: 15vw;
}

/*  PROJETOS  */

#projetos {
    background: url(../img/bg-another.jpg); /**/
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}


#projetos-inferior {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;

    padding: 15vh;
    padding-inline: 15vw;
}

/*  HABILIDADES  */

#habilidades {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    column-gap: 3vw;
}

#habilidades-esq {
    background: url(../img/bg-ENA-sem-ENA.jpg);

    padding: 15vh;
    padding-inline: 15vw;
}

#habilidades-inferior {
    display: flex;
}

#habilidades-table {

}

#habilidades-figura {
    background-color: blue;

    padding: 15vh;
    padding-inline: 15vw;
}

/*  CONTATO  */

#botao_topo {
    width: 5vw;
    height: 5vw;

    background-color: rgba(25, 24, 38, 1);

    box-shadow: 0 0px 35px #FF002A;
    border: 0px solid #FF002A;
    border-radius: 15px;

    padding: 3px;

    position: fixed;
    right: 30px;
    bottom: 50px;
    pointer-events: all;
}

